arviz==0.21.0
asttokens==3.0.0
cachetools==5.5.2
certifi==2025.1.31
cloudpickle==3.1.1
cons==0.4.6
contourpy==1.3.2
cycler==0.12.1
decorator==5.2.1
etuples==0.3.9
executing==2.2.0
filelock==3.18.0
fonttools==4.57.0
geopandas==1.0.1
graphviz @ file:///home/conda/feedstock_root/build_artifacts/python-graphviz_1733791968395/work
h5netcdf==1.6.1
h5py==3.13.0
ipdb==0.13.13
ipython==9.1.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
joblib==1.4.2
kiwisolver==1.4.8
logical-unification==0.4.6
markdown-it-py==3.0.0
matplotlib==3.10.1
matplotlib-inline==0.1.7
mdurl==0.1.2
miniKanren==1.0.3
multipledispatch==1.0.0
noise==1.2.2
numpy==2.2.4
opencv-python==4.11.0.86
packaging==24.2
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
pillow==11.2.1
pip-autoremove==0.10.0
prompt_toolkit==3.0.50
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==20.0.0
Pygments==2.19.1
pymc==5.22.0
pyogrio==0.10.0
pyparsing==3.2.3
pyperclip==1.9.0
pyproj==3.7.1
pytensor==2.30.3
python-dateutil==2.9.0.post0
pytz==2025.2
rich==14.0.0
rtree==1.4.0
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
setuptools==75.8.0
shapely==2.1.0
six==1.17.0
stack-data==0.6.3
threadpoolctl==3.6.0
toolz==1.0.0
traitlets==5.14.3
typing_extensions==4.13.2
tzdata==2025.2
wcwidth==0.2.13
wheel==0.45.1
xarray==2025.4.0
xarray-einstats==0.8.0
